/* InviteOptions.css */

.invite-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start; /* Push modal to the left */
    align-items: center;
    z-index: 1000;
    
  }
  
  .invite-modal {
    background: rgb(242, 242, 242);
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 5%;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .invite-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: border 0.2s, box-shadow 0.2s;
    margin-top: 40px;
  }
  
  .invite-input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
    outline: none;
  }
  
  .invite-button {
    background:  #D9484F;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin-top: 30px;
  }
  
  .invite-button:hover {
    background: #d11717;
    /* #d11717 */
    transform: translateY(-2px);
  }
  
  .invite-status {
    font-size: 0.9rem;
    color: #4b5563;
    margin-top: 0.5rem;
  }
  
  .invite-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #6b7280;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .invite-close:hover {
    color: #111827;
  }