.card-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
    /* text-shadow: 0 0 10px #ffc107; */
}

.card{
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
  .card:hover {
    transform: scale(1.05); /* Slight zoom */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Elevation effect */
    z-index: 2; /* Make sure it sits above others */
    cursor: pointer;
  }

  .card-body{
    background-color: rgb(210, 209, 209);
  }