.custom-modal-content {
  background: rgba(43, 43, 43, 0.621);
  border-radius: 1.25rem;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  max-height: 90vh;
  height: auto;
  overflow-y: auto;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  position: relative;
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: rgba(241, 238, 238, 0.893);
  padding-right: calc(2rem + 8px);
}

.custom-modal-content:hover {
  transform: translateY(-4px);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #444;
  transition: transform 0.3s ease, color 0.3s ease;
  margin: 4px;
}

.close-button:hover {
  transform: rotate(90deg) scale(1.2);
  color: #d90429;
}

.modal-poster {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  max-width: 200px;
}

.modal-poster:hover {
  transform: scale(1.03);
}

.modal-plot-description {
  font-size: 1rem;
  color: #dad8d8;
  margin-bottom: 1.2rem;
  text-align: left;
  line-height: 1.6;
}

.trailer-link {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.4rem;
  background: linear-gradient(90deg, #d90429, #ef233c);
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.trailer-link:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.title-and-year-txt{
  font-size: 1.5rem;
  font-weight: 600;
  color: #f8f9fa;
  margin-bottom: 0.5rem;
}

.custom-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
}