.custom-footer {
    background: rgba(128, 128, 128, 0.877);
    backdrop-filter: blur(6px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #bebebe;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    margin-top: auto
  }

  
  .footer-text {
    font-size: 0.9rem;
    margin: 0;
  }
  
  .custom-footer button {
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  
  .custom-footer button:hover {
    transform: translateY(-2px);
    background-color: #ffc107;
    color: #212529;
  }

  .footer-social a {
    color: #f8f9fa;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #ffc107;
  }